* {
		margin: 0;
		padding: 0;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		box-sizing: content-box;
		-moz-box-sizing: content-box;
		/* Firefox */
		-webkit-box-sizing: content-box;
		/* Safari */
	}
	body {
	-webkit-overflow-scrolling: touch;
	font-family: "微软雅黑";
	color: #444444;
	margin: 0 auto;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	margin:0 auto;
	}
	@media all and (orientation: landscape) {
		/*横屏*/
		body {
			width: 100%;
		}
	}

	@media all and (orientation: portrait) {
		body {
			width: 100%;
		}
		/*竖屏*/
	}
	#content{width:100%;background:url(../img/壹基因健康智能检测-3.jpg) no-repeat;background-size: 100% 100%;}
 	*{padding: 0; margin: 0; }
 	/*分数盘*/
 	.circle{width: 150px;height: 240px;margin: 0 auto; margin-bottom:20px;position: relative;top: 100px;}
 	canvas{width:100%;display: block;margin: 0;position: absolute;background:transparent;left: 0;top: 0;}
 	#canvas_1{z-index: 2;}
 	#canvas_2{z-index: 3; background: transparent;transform:rotate(-90deg); }
 	.hide{width:100px;color:#3FE2EA;position:relative; z-index:2; top:90px;left:28px;text-align: center;letter-spacing: 3px;}
 	@font-face {
	    /* font-properties */
	    font-family: Ruler;
        src:/*url('font/DS-DIGI.woff'),    */
		    url('../font/DS-DIGI.TTF'),
		    url('../font/DS-DIGI.TTF.eot'); /* IE9 */
	}
	/*页面样式*/
	.color1{color: #3FE2E9;}
	.color2{color: #B4C2C6;}
	/*tab选中颜色*/
	.bg2{background:#207780;}
	.ls2{letter-spacing: 2px;}
	/*字体大小*/
	.fs18{font-size: 18px;}
	.fs14{font-size: 14px;}
	.fs13{font-size: 13px;}
	.fs12{font-size: 12px;}
	/*间隔5px*/
	.padT5{padding-top: 5px;}
	/*头部*/
 	nav{width:100%;height:30px; background: #113C46; color: #fff;opacity:0.6 ; position: fixed; top: 0;z-index: 99;}
 	nav>div{line-height: 30px;  font-size: 14px;}
 	nav>div:first-child{min-width: 200px;float: left;padding-left: 20px;}
	nav>div:last-child{min-width:60px;float: right; text-align: center;}
	/*box-head 带框标题*/
	.box-head{
		width:100%;
		height:80px;
		position: absolute;
		background: url(../img/icon-12.png) no-repeat center;
		background-size:40% 50%;
		}
	.box-head>span{line-height: 80px; color: #fff;text-align: center; display: block;}
	/*排行榜*/
	#ranking{
		width: 100%;
		height: 50px;
		margin-bottom: 20px;
		clear: both;
	}
	#ranking>div:first-child{
		float: left;
		width: 14px;
		height: 14px;
		margin: 21px 10px 0 112px;
		border-radius: 50%;
		background: #3FE2E9;

	}
	#ranking>div:last-child{
		min-width:200px ;
		height: 50px;
		float: left;
		line-height: 50px;
		text-align: left;
		color: #fff;
		letter-spacing: 2px;

	}
	/*文字结果*/
	.textbg{width:300px;height:150px; background: url(../img/icon-13.png) no-repeat ; background-size: 100% 100%; position: absolute;top: 310px;left: 35px;}
	h2{text-align: center;}
	.text-margin{margin: 10px 0;}
	h1,h3,h4,h6{color: #fff; font-weight:100;text-align: center;margin-top: 5px;letter-spacing: 2px;}
	.Tab{width:100%;height: 45px;background: #123C48; color: #fff; text-align: center;}
	.Tab>li{float: left; list-style: none;height:100%;width:50%;line-height: 45px; letter-spacing: 2px;}
	/*专家建议*/
	#specialist{
		width: 100%;
		overflow: hidden;
		color: #fff;
	}
	.spenbox{
		width: 100%;
		margin-top:90px ;

	}
	.manybox{
		border: 1px solid #3FE2E9;
		margin: 0 15px 20px ;
		padding:10px 20px;
		background:rgba(63,226,235,0.2);

	}
	.one_list{padding:5px;text-align: left;}
	.one_list>img{width:16px;display: inline-block; vertical-align: middle;padding-right:5px ; margin-top: -4px; }
	em{font-style: normal;color: #3FE2E9;font-weight: bold; font-size: 14px;}
	/*内容*/
	.one_ment{font-size: 13px; padding:0 0px 0 25px;}
	.one_ment_list{/*text-indent:26px;*/ padding-top: 5px;}
	.one_ment_downlist{height:20px;  overflow:hidden;font-size: 13px; margin-left: 42px; letter-spacing: 2px; margin-bottom:10px ;margin-top: 5px;transition:height 0.5s ease; }
	.new_downlist{height:100%;}

	/*.square{width:16px;height: 16px; display: inline-block;  border-right: 24px solid #3FE2E9; border-bottom: 24px solid #3FE2E9;  position: absolute;top:0; right:15px; transform:rotate(45deg);}*/
	.square{
		display: inline-block;
        border-right: 2px solid;
        border-bottom: 2px solid;
        width: 8px; height: 8px;
        transform: rotate(-45deg);
        transition: 1s ease;
        position: absolute;
        top:2px;
        right: 20px;

        }
     .square_rotate{display: inline-block;
        border-right: 2px solid;
        border-bottom: 2px solid;
        width: 8px; height: 8px;
        transform: rotate(45deg);
        transition: 0.5s ease;
        position: absolute;
        top:2px;
        right: 20px;}
	.list_headover{overflow: hidden; position: relative;}
	/*-----  恶性肿瘤图片/内容  -----------------*/
	#cancer{width:100%; color: #fff;}
	#cancer>p{text-align: center;}
	   /*肿瘤包裹的盒子*/
	.cancerpicbox{height: 17px; margin: 10px 30px;}
	.cancerImg{width: 100%;height: 100%;}
	/*下拉的高度 因上倒下css的读取 所以放置在会后面*/
	.new_downlist{height:100%;}