/*html{*/
	/*background: url(../img/bg1.jpg) no-repeat 100% 100%;*/
	/*background-size:cover;*/
	/*width: 100%; height: 100%;	*/
/*}*/
/*^page0*/
.page0{
	/*background-color: #aaa;*/
}
.page0 .title-wrapper{
	box-sizing: border-box;
	position: relative;
	width: 280px;
	height: 50px;
	margin: auto;
	padding-top: 60px;
	color: #fff;
}
.title-wrapper span{
	position: absolute;
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	top: 60px;
	left: 0;
	font-size: 16px;
	font-family: '微软雅黑';	
}
.title-wrapper2{
	width: 100%;
	margin-top: 80px;
}
.title-wrapper2 p{
	margin-top: 15px;
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 22px;
	font-weight: 580;
	font-family: '微软雅黑';
	color: #49E3E9;

}
.desc{
	width: 100%;
	margin-top: 50px;
	text-align: center;
	font-size: 13px;
	font-family: '微软雅黑';
	color: #49E3E9;
}
.lung{
	width: 60px;
	height: 60px;
	margin: auto;
	margin-top: 60px;
	background: url(../img/lung.png) no-repeat 100% 100%;
	background-size: cover;
}
.result{
	width: 100%;
	margin-top: 50px;
	text-align: center;
	font-size: 16px;
	font-family: '微软雅黑';
	color: #49E3E9;
}
.logo{
    width: 60px;
    height: 30px;
    margin: auto;
    margin-top: 30px;
    background: url(../img/logo.png) no-repeat 100% 100%;
    background-size: cover;
}

	/*^ball*/
.ball-wrapper{
	position: absolute;
	top: 0;
	right: 0;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	background: url(../img/ball.png) no-repeat 100% 100%;
	background-size: cover;
	-moz-animation:rotate 20s infinite linear;
    -webkit-animation:rotate 20s infinite linear;
    animation:rotate 20s infinite linear;
}

@-moz-keyframes rotate{
    0%{
      -moz-transform:rotate(0deg);
     }
     100%{
       -moz-transform:rotate(360deg);
     }
}
  @-webkit-keyframes rotate{
    0%{
      -webkit-transform:rotate(0deg);
     }
     100%{
       -webkit-transform:rotate(360deg);
     }
}
  @keyframes rotate{
    0%{
      transform:rotate(0deg);
     }
     100%{
       transform:rotate(360deg);
     }
}
/*下一页按钮*/
/* 箭头 */
@-webkit-keyframes start {
    0% {
        opacity: 0.5;
        -webkit-transform: translate(0,1px);
    }
    5% {
		opacity: 0.55;
        -webkit-transform: translate(0,1px);
    }
    10% {
		opacity: 0.6;
        -webkit-transform: translate(0,0.9px);
    }
    15% {
		opacity: 0.65;
        -webkit-transform: translate(0,0.8px);
    }
    20% {
		opacity: 0.7;
        -webkit-transform: translate(0,0.7px);	
    }
    25% {
		opacity: 0.75;
        -webkit-transform: translate(0,0.6px);
    }	
    30% {
		opacity: 0.8;
        -webkit-transform: translate(0,0.5px);
    }
    35% {
		opacity: 0.85;
        -webkit-transform: translate(0,0.4px);
    }
    40% {
		opacity: 0.9;
        -webkit-transform: translate(0,0.3px);
    }
    45% {
		opacity: 0.95;
        -webkit-transform: translate(0,0.2px);	
    }
    50% {
		opacity: 1;
        -webkit-transform: translate(0,0);
    }
    55% {
		opacity: 0.95;
        -webkit-transform: translate(0,-0.2px);
    }
    60% {
		opacity: 0.9;
        -webkit-transform: translate(0,-0.3px);
    }
    65% {
		opacity: 0.85;
        -webkit-transform: translate(0,-0.4px);
    }
    70% {
		opacity: 0.75;
        -webkit-transform: translate(0,-0.5px);
    }
    75% {
		opacity: 0.7;
        -webkit-transform: translate(0,-0.6px);
    }
    85% {
        opacity: 0.65;
        -webkit-transform: translate(0,-0.7px);
    }
    90% {
        opacity: 0.6;
        -webkit-transform: translate(0, -0.8px);
    }
    95% {
        opacity: 0.55;
        -webkit-transform: translate(0, -0.9px);
    }
    100% {
        opacity: 0.5;
        -webkit-transform: translate(0, -1px);
    }
}
@keyframes start {
    0% {
        opacity: 0.5;
        -webkit-transform: translate(0,1px);
    }
    5% {
		opacity: 0.55;
        -webkit-transform: translate(0,1px);
    }
    10% {
		opacity: 0.6;
        -webkit-transform: translate(0,0.9px);
    }
    15% {
		opacity: 0.65;
        -webkit-transform: translate(0,0.8px);
    }
    20% {
		opacity: 0.7;
        -webkit-transform: translate(0,0.7px);	
    }
    25% {
		opacity: 0.75;
        -webkit-transform: translate(0,0.6px);
    }	
    30% {
		opacity: 0.8;
        -webkit-transform: translate(0,0.5px);
    }
    35% {
		opacity: 0.85;
        -webkit-transform: translate(0,0.4px);
    }
    40% {
		opacity: 0.9;
        -webkit-transform: translate(0,0.3px);
    }
    45% {
		opacity: 0.95;
        -webkit-transform: translate(0,0.2px);	
    }
    50% {
		opacity: 1;
        -webkit-transform: translate(0,0);
    }
    55% {
		opacity: 0.95;
        -webkit-transform: translate(0,-0.2px);
    }
    60% {
		opacity: 0.9;
        -webkit-transform: translate(0,-0.3px);
    }
    65% {
		opacity: 0.85;
        -webkit-transform: translate(0,-0.4px);
    }
    70% {
		opacity: 0.75;
        -webkit-transform: translate(0,-0.5px);
    }
    75% {
		opacity: 0.7;
        -webkit-transform: translate(0,-0.6px);
    }
    85% {
        opacity: 0.65;
        -webkit-transform: translate(0,-0.7px);
    }
    90% {
        opacity: 0.6;
        -webkit-transform: translate(0, -0.8px);
    }
    95% {
        opacity: 0.55;
        -webkit-transform: translate(0, -0.9px);
    }
    100% {
        opacity: 0.5;
        -webkit-transform: translate(0, -1px);
    }
}
.start{
    position: absolute;
    left: 50%;
    margin-left: -17px;
    bottom: 10%;
    margin-top: -34px;
    top:100%;
    width: 34px;
    height: 34px;
}
.start b{
	display: block;
	margin:auto;
    width: 30px;
    height: 20px;
    background: url(../img/next.png);
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}
/*$page0*/

/*^page1*/
.page1{
		
}
.page1 .title{
	width: 100%;
	font-size: 24px;
	font-weight: 700;
	font-family: '微软雅黑';
	height: 100px;
	line-height: 100px;
	color: #fff;
	text-align: center;
	padding-top: 50px;
}
.number-wrapper{
	width: 250px;
	height: 60px;
	margin: auto;
	margin-top: 10px;
	position: relative;
	color: #49E3E9;
}
.value{
	position: absolute;
	top: 0;
	left: 0;
	height: 70px;
	line-height: 70px;
	font-size: 36px;
	font-weight: 700;
	font-family: '微软雅黑';
	color: #49E3E9;
	width: 100%;
	text-align: center;
}
.test-wrapper{
	margin-top: 30px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.test-wrapper p{
	font-size: 28px;
	font-family: '微软雅黑';
	color: #49E3E9;
	line-height: 60px;
	
}
.slogan{
	width: 100%;
	margin-top: 60px;
}
.slogan p{
	width: 100%;
	margin-top: 15px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	font-family: '微软雅黑';
}
/*按钮*/
.button-wrapper{
	width:160px;
	height: 40px;
	background-color: #3FE1EB;
	margin: auto;
	margin-top: 60px;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	color: #000;
	font-family: '微软雅黑';
}
