.content{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 375px;
	min-height: 667px;
	transform: translate(-50%,-50%);
	background: url(../img/bg.jpg) no-repeat 100% 100%;
	background-size:cover;
}
.title-wrapper{
	color:#fff;
}
h1{
	width:100%;
	text-align: center;
	margin-top: 113px;
	font-size: 20px;
	color: #DBDEE1;
}
h5{
	width: 100%;
	text-align: center;
	margin-top: 25px;
	font-size: 12px;
	color: #C7CBCE;
}
.select-wrapper{
	height: 255px;
	width: 210px;
	border: 2px solid rgba(64, 228, 237,0.5);
	margin: auto;
	margin-top: 30px;	
}
.inner-wrapper{
	width: 100%;
	height: 100%;
	background-color: rgba(64, 228, 237, 0.21);
	overflow-y: auto;

}
.inner-wrapper h3{
	color: #fff;
	font-size: 14px;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.list-wrapper{
	margin-top: 20px;
	color: #fff;
	font-size: 14px;
	padding-left: 20px;
}
.list-wrapper li{
	line-height: 30px
}

/*checkbox/radio*/
input[type="checkbox"],input[type="radio"]{
	margin:0;
	opacity:0;
	filter: alpha(opacity=0);
}

input:focus{ 
	outline:none
}
.check_span,.radio_span{ 
	display:inline-block; 
	float:left; 
	border:1px solid rgb(64, 228, 237);
	width:14px;
	height:14px; 
	text-align:center;
	margin-right:10px;
	margin-top: 8px;
}
.check_span:hover,.radio_span:hover{ 
	border-color:rgb(64, 228, 237);
}
.check_span--checked,.radio_span--checked{
	border-color: rgb(64, 228, 237);
	background: url(../img/icon_sprites.png);
}
.radio_span{
	width:15px;
	height:15px;
	border:0;
	background:url(../img/icon_sprites.png) -14px 0;
}
.radio_span--checked{ 
	background-position:-29px 0;border:0;
}
.radio_box{
	border-top:1px dashed rgb(64, 228, 237);
	margin-top:20px;padding-top:15px;
}

/*按钮*/
.button-wrapper{
	width:160px;
	height: 40px;
	background-color: rgb(64, 228, 237);
	margin: auto;
	margin-top: 30px;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
}
.button{
	color: #000;
}
.hide{
	display: none;
}