{% block diligent_script %}
	<meta name="viewport" content="width=375,maximum-scale=4,user-scalable=no">
	<meta name="format-detection" content="telephone=no" /> 
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="${url_for('static', filename='css/reset.css')}">
	<link rel="stylesheet" href="${url_for('static', filename='css/cityPicker.css')}">
	<link rel="stylesheet" href="${url_for('static', filename='css/info.css')}">
    <link rel="stylesheet" href="${url_for('static', filename='css/city-picker.css')}">
{% endblock %}

{% block body %}
	<div class="content">
			<div class="title-wrapper">
				<h1>填 写 信 息</h1>
			</div>
			<ul class="info-wrapper">
				<li class="name"><div class="circle"><i></i></div><input id="userName" type="text" placeholder="受检者姓名"></li>
				<li class="relation"><div class="circle"><i></i></div>
					<select id="sel">
						<option>与受检人关系</option>
						<option value="本人">本人</option>
						<option value="子女">子女</option>
						<option value="配偶">配偶</option>
						<option value="父母">父母</option>
						<option value="其他">其他</option>
					</select>
				</li>
				<li class="gender"><div class="circle"><i></i></div>性别 :  
					<div class="person male">
			            <div class="outcircle">
			                <span class="innercircle"></span>
			            </div>
			            <label>男</label>
		        	</div>
		        	<div class="person famale">
			            <div class="outcircle">
			                <span class="innercircle"></span>
			            </div>
			            <label>女</label>
			        </div>
				</li>
				<li class="age"><div class="circle"><i></i></div><input id="userAge" type="text" placeholder="年龄"></li>
				<li class="weight"><div class="circle"><i></i></div><input id="userWeight" type="text" placeholder="体重(kg)"></li>
				<li class="height"><div class="circle"><i></i></div><input id="userHeight" type="text" placeholder="身高(cm)"></li>
				<li class="place">
					<div class="circle"><i></i></div>
					<div class="hqyzb_box place">
	                   <input type="text" class="city" id="cityChoice" readonly placeholder="常住地">
                  </div>
				</li>
			</ul>
			<div class="submit_up">
				<a href="javascript:void(0);" class="button"> 点击提交 </a>
			</div>
	</div>
	<div class="mask">
		<i class="close">x</i>
		<p>请将信息填写完整</p>
	</div>
	<div class="phone">
		<h2>提示</h2>
		<p class="notice">
			填写手机号保存以便后续查看和制定健康计划
		</p>
		<div class="phone-box" style="height: 70px;">
			<div class="phone-wrapper">
				<input type="text" placeholder="请输入手机号" name="phone" id="phone" >
			</div>
			<p class="right-number">请输入正确的手机号</p>
		</div>
		
		<div class="code-box" style="height: 50px;">
			<div class="code-wrapper">
				<input type="text" placeholder="请输入验证码" name="code" id="code">
				<input class="code getverify-code-btn" type="button" value="获取验证码" id="j_getVerifyCode"/>
			</div>
			<p class="right-code">请输入正确的验证码</p>
		</div>
		
		<div class="buttons-wrapper">
			<button class="sign-in">登 录</button>
			<button class="refuse">不 需 要 , 跳 过</button>
		</div>
	</div>
    <div class="cartoon">
        <div id="in" style="width:100px;height:100px; position:absolute;top: 50%;left:50%;transform: translate(-50%,-50%);"></div>
        <h3 style="color:#fff;position:absolute;bottom:30%;left:50%;transform:translateX(-50%);">数据加载中,请稍后</h3>
    </div>
{% endblock %}

{% block lazy_script%}
	<script src="${url_for('static', filename='js/jquery-1.10.2.min.js')}"></script>
	<script src="${url_for('static', filename='js/TimerButton.js')}"></script>
{#	<script src="${url_for('static', filename='js/cityPicker.js')}"></script>#}
{#	<script src="${url_for('static', filename='js/cityData.js')}"></script>#}
	<script src="${url_for('static', filename='js/info.js')}"></script>
	<script src="${url_for('static', filename='js/sonic.js')}"></script>
	<script src="${url_for('static', filename='js/mySonic.js')}"></script>
    <script src="${url_for('static', filename='js/city-picker.js')}"></script>
    <script>
        $("#cityChoice").CityPicker();
    </script>
{% endblock %}

